:root {
  --card--color: #c8d2d1;
}

.wrapper__movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0 10px 0;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.movie__info .movie__title {
  font-size: 20px;
  padding: 7px 0;
}

.movie__title a {
  text-decoration: none;
}

.movie__info .movie__year {
  padding: 7px 0;
  font-weight: 700;
}

.movie__info .movie__genres {
  display: flex;
}

.movie__genres li {
  margin-right: 7px;
}

.item {
}
